<div>Expense Record</div>
<br />
<div>
  Description: <input type="text" [(ngModel)]="description" />
  Type:
  <input type="text" [(ngModel)]="type" />
  Amount: <input type="text" [(ngModel)]="amount" />
  Date:
  <input type="text" [(ngModel)]="date" style="margin-right: 5px" />
  <button (click)="callAddApi()">Add</button>
</div>
<br />
<div>
  <div *ngFor="let expenseItem of expenseList">
    <p>
      Description: {{ expenseItem.description }}; Type: {{ expenseItem.type }};
      Amount: {{ expenseItem.amount }}; Date: {{ expenseItem.date }}
      <button (click)="callDeleteApi(expenseItem.id)">Delete</button>
    </p>
  </div>
</div>
